<div class="control-group">
  <label for="firstname" class="control-label">firstname</label>
  <div class="controls">
    <%- contentTag('input', person.firstname, {type:'text', class:'span6', name:'firstname'}) %>
  </div>
</div>
<div class="control-group">
  <label for="lastname" class="control-label">lastname</label>
  <div class="controls">
    <%- contentTag('input', person.lastname, {type:'text', class:'span6', name:'lastname'}) %>
  </div>
</div>
